$utility-white: #FFFFFF;
$utility-black: #222222;
$grey-text: #666666;
$utility-blue: #0278ED;
$utility-red: #FF5437;
$utility-orange: #FF9209;
$utility-pink: #E738CE;
$utility-turquoise: #00C6DF;
$utility-violet:#B25DF8;